{% load staticfiles %}

    <p>
        <span>xxgy.org &copy; 2010-2016 甘肃新星公益慈善中心 </span>
        <span class="line">|</span>
        <span>Powered by <strong></strong> | 图片存储于<a href="http://www.qiniu.com/" target="_blank">七牛云</a></span>
    </p>
    <p>
        <a href="http://www.miitbeian.gov.cn/" target="_blank">xxxxxxxxxxxxxxx</a>         xxxxxxxxxxxxxxxi
    </p>
    <p>
        <a href="">服务条款</a> 
        
    </p>
    <p>
        <a href=""><img src="" align="absmiddle" /></a>
    </p>




