{% load staticfiles %}

<footer class="main-footer">
 <div style="background-color: black">
<div class="container">
        <p>
            <span>Linux.CN &copy; 2003-2016 Linux中国</span>
            <span class="line">|</span>
            <span>Powered by <strong>DX</strong> | 图片存储于<a href="http://www.qiniu.com/" target="_blank">七牛云</a></span>
        </p>
        <p>
            <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备05083684号-1</a>            京公网安备110105001595
        </p>
        <p>
        <a href="https://linux.cn/legal.html">服务条款</a> |
        除特别申明外，本站原创内容版权遵循 <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh" target="_blank">CC-BY-NC-SA 协议规定</a></p>
        <p>
        <a href="https://linux.cn/"><img src="https://dn-linuxcn.qbox.me/static/image/common/linuxcn_logo_mini.png" align="absmiddle" /></a>
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img src="https://dn-linuxcn.qbox.me/static/image/common/cc.png" align="absmiddle" /></a>
        </p>
</div>
</div>
</footer>
</body>
