{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-12">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron" style="background:url('{% static 'home/bg1.jpg' %}'); height: 400px;">
        <h1 style="color: white">新星公益</h1>
        <p style="color: white">放置宣传标语类文字</p>
        <p style="color: white">背景可换作照片</p>
      </div>
    </div>
    <!--/.col-xs-12.col-sm-9-->

  </div>
  <!--/row-->

  <div class="row">
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
          活动纪实
        </li>
        {% for article in articles %}
        <li class="list-group-item">
          <a href="{% url 'active_details' %}?id={{ article.id }}">
            {{ article.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          活动纪实
        </li>
        {% for article in articles %}
        <li class="list-group-item">
          <a href="{% url 'active_details' %}?id={{ article.id }}">
            {{ article.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning">
          活动纪实
        </li>
        {% for article in articles %}
        <li class="list-group-item">
          <a href="{% url 'active_details' %}?id={{ article.id }}">
            {{ article.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">
          活动纪实
        </li>
        {% for article in articles %}
        <li class="list-group-item">
          <a href="{% url 'active_details' %}?id={{ article.id }}">
            {{ article.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!--/row-->

  <hr>
</div>
<!--/.container-->


{% endblock %}
