{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-12">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron" style="background:url('{% static 'home/bg1.jpg' %}'); height: 400px;">
        <h1 style="color: white">新星公益</h1>
        <p style="color: white">传递温暖，关爱儿童</p>
        <p style="color: white">用我们的双手，点亮这个世界</p>
      </div>
    </div>
    <!--/.col-xs-12.col-sm-9-->

  </div>
  <!--/row-->

  <div class="row">
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
			信息公开
        </li>
        {% for article in aas %}
        <li class="list-group-item">
          <a href="{% url 'information_details' tid=article.id %}">
            {{ article.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
			阅读推广
        </li>
        {% for article in bbs %}
        <li class="list-group-item">
          <a href="{% url 'project_details' tid=article.id %}">
            {{ article.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning">
			扶贫助学
        </li>
        {% for article in ccs %}
        <li class="list-group-item">
          <a href="{% url 'project_details' tid=article.id %}">
            {{ article.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">
			志愿者
        </li>
        {% for article in dds %}
        <li class="list-group-item">
          <a href="{% url 'volunteer_details' vid=article.id %}">
            {{ article.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!--/row-->

  <hr>
</div>
<!--/.container-->


{% endblock %}
