{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					news
				</div>
				<ul class="list-group">
					<li class="list-group-item">111</li>
					<li class="list-group-item">
						2222</li>
				</ul>
			</div>
		</div>
		<div class="col-md-10">
			<ol class="breadcrumb">
				<li><a href="{% url 'index' %}">主页</a></li>
				<li class="active">活动纪实</li>
			</ol>
			<ul class="list-group">
				<li class="list-group-item">
					<a href="#">1111111111</a>
					<span class="badge">2017-06-12</span>
				</li>
				<li class="list-group-item">2222222222</li>
				<li class="list-group-item">3333333333</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
