{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="para" label-module="para">
<div style="align-text: center;">
        <h3>甘肃新星公益慈善中心</h3>
</div>
<span style="margin-left: 95%">2017-6-12</span>
<hr />
        <br/>它是爱心人士自发从事公益性帮扶救助的非营利性公益组织。机构发起于2007年，最初由几位热心公益的网友发起，主要从事助学、帮困、法律援助、心理疏导、减防灾、关注女童、关注儿童安全和倡导公平教育理念，用新公益理念宣传公益慈善等！！ 
        <br/>　　中心宗旨：从我做起，奉献爱心。 
        <br/>　　中心目的：通过新公益理念和文化教育来宣传慈善理念。 
        <br/>　　中心愿景：使每一位女童都享有平等的受教育权利。 
        <br/>　　中心精神：星星之火可以燎原，温暖她人，开心自我。 
        <br/>　　中心愿景：使每一位女童都享有平等的受教育权利。
    </div>
    <div class="para" label-module="para">中心使命：帮助女童发挥潜能，使其成为有责任感的社会公民。</div>
    <div class="para" label-module="para">今天的女童是明天的母亲，一代母亲影响一代孩子，代孩子影响一代历史。女童的素质，将在一定程度上影响社会发展。希望关注女童问题的社会各界人士都能行动起来，伸出自己的援助之手，给她们以温暖和关怀。
        <br/>　　
        <br/>　　新星公益服务的内容是：
        <br/>　　（1）、服务内容多样化：募捐资金帮扶、实地考察救助、媒体呼吁、进家进校支援等。 
        <br/>　　（2）、志愿者的培养：培训、交流、激励、支持；
        <br/>　　（3）、新公益理念宣传公益慈善
        <br/>　　我们的期望：
    </div>
    <div class="para" label-module="para">今天的女童是明天的母亲，一代母亲影响一代孩子，一代孩子影响一代历史。女童的素质，将在一定程度上影响社会发展。希望关注女童问题的社会各界人士都能行动起来，伸出自己的援助之手，给她们以温暖和关心。
        <br/>　　我们期待着更多的人信任并参与我们，同时期待更多有社会责任感的企业家投身公益事业，为社会奉献自己微薄的一点儿力量。
    </div>
    <div class="para" label-module="para">爱心项目：爱心捐助、一对一帮扶、贫困学校捐助、乡村小学图书阅览室搭建、陪伴读书
        <br/>　　让我们怀着一颗感恩的心，感谢那些帮助过我们的人，并继续帮助那些需要帮助的人。
    </div>
</div>
</div>
{% endblock %}
