{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					active
				</div>
				<ul class="list-group">
					<li class="list-group-item">111</li>
					<li class="list-group-item">
						2222</li>
				</ul>
			</div>
		</div>
		<div class="col-md-10 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="{% url 'index' %}">主页</a></li>
				<li><a href="{% url 'active_index' %}">公益活动</a></li>
				<li class="active">{{ article.title }}</li>
			</ol>
			<h1>{{ article.title }}</h1>
			<p class="text-right">
			<span>发表时间:{{ article.created }}&nbsp;&nbsp;</span>
			<span>作者: {{ article.author }}</span>
			</p>
			<hr />
			{{ article.content|safe }}
		    
		</div>
	</div>
</div>
{% endblock %}
